/* Footer Styles */
.footer {
    background-color: #333; /* Dark background for the footer */
    color: #fff; /* White text color */
    padding: 15px 0; /* Reduce padding for a more compact footer */
    text-align: center; /* Center the text horizontally */
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.3rem; /* Smaller font size for the footer text */
  }
  
  .footer p {
    margin: 0; /* Remove default margin */
    font-size: 0.3rem;
  }
  
  .footer a {
    color: #fff; /* White link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
  }
  
  .footer a:hover {
    color: #b48360; /* Button-like hover effect */
  }
  
  /* Responsive footer for mobile screens */
  @media (max-width: 768px) {
    .footer p {
      font-size: 0.3em; /* Even smaller text on mobile */
    }
  }
  